* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font-size: 20px;
}
body{
  color: #fff;
  background: linear-gradient(to right, #1e1e1e, #2c3e50);
  font-family: 'Poppins', sans-serif;
}
#container{
  background: rgba(0, 0, 0, 0.8);
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  padding-top: 80px;
}
#back-button{
  display: inline;
  background-color: transparent;
  border: none;
  color: white;
  margin-left: 1%;
  margin-top: 20px;
}
#back-text{
  color: white;
  font-weight: 500;
}
.logo {
  overflow: hidden;
  border-right: 2px solid;
  width: 0%;
  font-weight: 700;
 margin-top: 20px;
 margin-left: 530px;
 font-size: 2.2em;
 user-select: none;
 color: #fff;
 animation: typing 0.7s steps(20, end) forwards, blinking 1s infinite;
}
@keyframes typing {
  from{ width: 0;}
  to{ width: 17.3%;}
}
@keyframes blinking {
  0% { border-right-color: transparent;}
  50% { border-right-color: #fff;}
  100% { border-right-color: transparent;}
}
  @font-face {
    font-family: 'CustomFont1';
    src: url('BloodyTerror-GOW9Z.ttf') format('truetype');
}

@font-face {
    font-family: 'CustomFont2';
    src: url('NerkoOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CustomFont3';
  src: url('ProtestGuerrilla-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CustomFont4';
  src: url('BebasNeue-Regular.ttf') format('truetype');
}
#block{
  background-image: url('https://th.bing.com/th/id/R.d7a5b841e623f4b66be25e4d209ef0af?rik=MN0V4fUqIK5FjQ&pid=ImgRaw&r=0');
  background-size: cover;
  height: 150px;
  width: 95%;
  margin-left: 30px;
  border-radius: 60px;
  margin-bottom: 100px;
  color: #660000;
  font-size: larger;
  font-weight: 500;
  border: 0px solid transparent;
  animation: none;
  transition: font-size 1.5s ease;
}
#block:hover{
  font-size: 80px;
}
#block1{
  background-image: url('https://static.wixstatic.com/media/342dfc_e38bb6b6fb5f4a27bd0f56aca8710b9d~mv2.jpg/v1/fill/w_402,h_245,al_c,lg_1,q_80,enc_auto/342dfc_e38bb6b6fb5f4a27bd0f56aca8710b9d~mv2.jpg');
  background-size: cover;
  height: 150px;
  width: 95%;
  margin-left: 30px;
  border-radius: 60px;
  margin-bottom: 100px;
  color: #1e1e1e;
  font-size: larger;
  font-weight: 800;
  border: 0px solid transparent;
  background-color: transparent;
  text-decoration: none;
  transition: text-decoration 2s ease, font-size .5s ease;
}
#block1:hover{
  font-size: 30px;
  text-decoration: underline;
}
#block2{
  background-image: url('https://cdn.pixabay.com/photo/2023/10/12/04/37/ai-generated-8309856_960_720.jpg');
  background-size: cover;
  height: 150px;
  width: 95%;
  margin-left: 30px;
  border-radius: 60px;
  margin-bottom: 100px;
  color: rgb(255, 0, 43);
  letter-spacing: normal;
  font-size: larger;
  font-weight: 900;
  border: 0px solid transparent;
  transition: letter-spacing 1s ease;
}
#block2:hover{
  letter-spacing: 5px;
}
#block3{
  background-image: url('https://cdn.pixabay.com/photo/2017/09/28/21/50/background-2797157_1280.jpg');
  background-size: cover;
  height: 150px;
  width: 95%;
  margin-left: 30px;
  border-radius: 60px;
  margin-bottom: 100px;
  color: rgb(88, 88, 88);
  font-size: larger;
  font-weight: 900;
  letter-spacing: normal;
  border: 0px solid transparent;
  transition: color .5s ease, font-size 2s ease, letter-spacing 2s ease;
}
#block3:hover{
  color: transparent;
  font-size: 40px;
  letter-spacing: 20px;
}
.center{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
    }
    #botn{
      border: none;
      background-color: transparent;
    }
    #M{
      user-select: none;
      color: rgb(185, 184, 184);
      font-weight: 600;
      font-size: large;
      display: block;
    }
@media (max-width: 425px) {
  *{
    font-size: 14px;
  }
  .logo {
    margin-top: 30px;
    margin-left: 37%;
    font-size: 1.3em;
    animation: typing 0.7s steps(18, end) forwards, blinking 1s infinite;
  }
  @keyframes typing {
    from{ width: 0;}
    to{ width: 30%;}
  }
  #block{
    font-size: medium;
    margin-bottom: 40px;
    height: 75px;
    width: 95%;
    margin-left: 6px;
  }
  #block:hover{
    font-size: 40px;
  }
  #block1{
    font-size: medium;
    margin-bottom: 40px;
    height: 75px;
    width: 95%;
    margin-left: 6px;
  }
  #block1:hover {
    font-size: 20px;
  }
  #block2{
    font-size: medium;
    margin-bottom: 40px;
    height: 75px;
    width: 95%;
    margin-left: 6px;
  }
  #block3{
    font-size: medium;
    margin-bottom: 40px;
    height: 75px;
    width: 95%;
    margin-left: 6px;
  }
  #M{
    font-size: small;
    display: block;
    margin: auto;
  }
  #container{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 30px;
  }
  
    }
