* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 20px;
  }
  body{
    color: #fff;
    background: linear-gradient(to right, #1e1e1e, #2c3e50);
    font-family: 'Poppins', sans-serif;
  }
  #container{
    background: rgba(0, 0, 0, 0.8);
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    padding-top: 80px;
    padding-bottom: 10px;
  }
  #back-button{
    display: inline;
    background-color: transparent;
    border: none;
    color: white;
    margin-left: 1%;
    margin-top: 20px;
  }
  #back-text{
    color: white;
    font-weight: 500;
  }
  input[type=text] {
    display: inline;
    margin-left: 750px;
    border: 2px solid #141e30;
    background-color: #141e30;
    border-radius: 50px;
    height: 45px;
    text-align: center;
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  input[type=text]:focus {
    margin-left: 750px;
    width: 33%;
  }
  .logo {
    overflow: hidden;
    border-right: 2px solid;
    width: 0%;
    font-weight: 700;
   margin-top: 40px;
   margin-left: 480px;
   font-size: 2.2em;
   user-select: none;
   color: #fff;
   animation: typing 0.9s steps(24, end) forwards, blinking 1s infinite;
  }
  @keyframes typing {
    from{ width: 0;}
    to{ width: 27.6%;}
  }
  @keyframes blinking {
    0% { border-right-color: transparent;}
    50% { border-right-color: #fff;}
    100% { border-right-color: transparent;}
  }
  #book-name{
    display: inline-block;
    user-select: none;
    margin-left: 70px;
    margin-top: 3%;
    font-size: 25px;
    font-weight: 600;
  }
  #editor{
   display: block;
   user-select: none;
   color: rgb(185, 184, 184);
   font-weight: 500;
   margin-top: 10px;
   margin-left: 70px;
  }
  #color{
    color: rgb(185, 184, 184);
  }
  #download{
    background-color: transparent;
    border: none;
    display: block;
    margin-left: 90%;
    margin-top: -40px;
  }
  .block{
    background-image: linear-gradient(to right, #141e30, #243b55);
    height: 150px;
    width: 95%;
    margin-left: 30px;
    border-radius: 60px;
    margin-bottom: 100px;
    color: white;
    font-size: larger;
    font-weight: 500;
    border: 0px solid transparent;
  }
  #soon{
    text-align: center;
    font-size: larger;
    font-weight: 500;
    padding-top: 60px;
    user-select: none;
    text-decoration: none;
  }
  #soon:hover{
    text-decoration: underline gray;
  }
  .center{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
      }
      #botn{
        border: none;
        background-color: transparent;
      }
      #M{
        user-select: none;
        color: rgb(185, 184, 184);
        font-weight: 600;
        font-size: large;
        display: block;
      }
  @media (max-width: 425px) {
    *{
      font-size: 14px;
    }
    input[type=text] {
      margin-left: 25%;
      height: 30px;
      width: 100px;
    }
    input[type=text]:focus {
      margin-left: 25%;
      width: 50%;
    }
    .logo {
      margin-top: 30px;
      margin-left: 30%;
      font-size: 1.3em;
      animation: typing 0.9s steps(18, end) forwards, blinking 1s infinite;
    }
    @keyframes typing {
      from{ width: 0;}
      to{ width: 48%;}
    }
    #book-name{
      margin-left: 20px;
      margin-top: 8%;
      font-size: 14px;
      font-weight: 600;
    }
    #editor{
     font-weight: 500;
     font-size: 11px;
     margin-top: 5px;
     margin-left: 20px;
    }
    #download{
      margin-left: 85%;
      margin-top: -25px;
    }
    #soon{
      font-size: large;
      padding-top: 25px;
    }
    .block{
      font-size: medium;
      margin-bottom: 40px;
      height: 75px;
      width: 95%;
      margin-left: 6px;
    }
    #M{
      font-size: small;
      display: block;
      margin: auto;
    }
    #container{
      margin-top: 25px;
      margin-left: 50px;
      margin-right: 50px;
      padding-top: 30px;
    }
    
      }